<p class="text-center">
<br/>
ЗАКЛЮЧЕНИЕ СУДЕБНО-МЕДИЦИНСКОЙ ЭКСПЕРТИЗЫ<br/><br/>

05 декабря 2019 года<br/>

№ НЭ-001936-НИИ-Ф-2019<br/>

Телсити, Штат Мэн, США<br/>

«Бюро судебно-медицинской экспертизы» на основании постановления начало судебно-медицинскую экспертизу, которую назначил шериф Дерек Морган.<br/>

Данные об умершей: Лютиция Рупан 1997 г.<br/>

06.12.2019 в ходе осмотра места происшествия на территории Телевышки был обнаружен труп женщины. При ней находился пропуск на студию<br/>

Молодая женщина правильного телосложения, удовлетворительного питания. Волосы светлые, густые, длиной более 1 м.<br/>

Странгуляционная борозда, которая представляет собой отпечаток петли на шее. Надрывы внутренней оболочки сонной артерии (симптом Амюсса), повреждения позвоночника, внутреннее кровоизлияния<br/>

Время смерти: 05 декабря 2019 года.<br/>

Причина наступления смерти:<br/>

Асфиксия — удушье, кислородное голодание от перекрытия дыхательных путей;<br/>

Пережатие сонных артерий и верхних полых вен — сосуды головного мозга переполняются кровью;<br/>

Сдавливание области каротидного синуса;<br/>

Отёк мозга от резкого и значительного повышения внутричерепного давления;<br/>

Рефлекторная остановка сердца от пережатия возвратного нерва;<br/>

Перелом шейных позвонков.</p>